#root {
  min-height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  background-image: url(background.svg);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}